.estadistica{
  position:relative;
  height:100%;
  width:100%;
}
#fondo{
  position:relative;
  height:100%;
  width:34%;
  float:left;
}
#pestañas{
  position:relative;
  width:20%;
  height:100%;
  float:left;
}
#imagenBasura{
  position:relative;
  left:25%;
}
#dropdownLavaplatos{
  position:absolute;
  top: 5%;
  left:10%;
}
#cadaLavaplatos{
  padding: 0px 10px;
  
  float:left;
}
#fondoazul{
  position:relative;
  float: left;
}
#espacioblanco{
  width: 20%;
  height: 100%;
  float: left;
}
#botonPestañaLP{
  position:absolute;
  left:0px;
  
}
#botonPestañaLV{
  position:absolute;
  left:0px;
  top:115px;
}
#botonPestañaLV2{
  position:absolute;
  left:0px;
  top:180px;
}
#lavavajillasPestaña{
  position:relative;
 
  
}
#lavavajillasPestaña2{
  position:relative;
  top:56%;
  
}
#lavaplatosTexto{
  position:absolute;
  left: 80%;
  top: 30%;
}
#lavavajillasTexto{
  position:absolute;
  left: 80%;
  top: 60%;
}
#wttslts{
  position:absolute;
  z-index: 3;
  left:10%;
  top:25%; 
}
#diezdolares{
  position:absolute;
  z-index: 3;
  left:10%;
  top:25%;
}
#showexpensebutton{
  position:absolute;
  z-index: 3;
  left:65%;
  top:25%;
}
#frecuenciaLavaplatos{
  float:left;
  background-color: #8ee1d2;
  padding: 0px 5px;
}
.Dropdown{
  position:absolute;
  left:30%;
  top:15%;
}
