#tamanocarga{
  position: absolute;
}
#aguja{
  position: absolute;
  top: 150px;
  left: 190px;
}
.row{
  width:100%;

}
.column1{
  float:left;
  height:100%;
  width:80%;
  position:relative;
}
.column2{
  float:left;
  height:100%;
  width:20%;
  position:relative;
}
.imagen{
  left:40%;
  height:100%;
  width:50%;
  position:relative;
}
