*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: -webkit-linear-gradient(45deg, #eeeeee 0%, rgba(225, 225, 225, 225) 70%),-webkit-linear-gradient(135deg, #eeeeee 10%, rgba(255, 255, 255, 0) 80%), -webkit-linear-gradient(225deg, #eeeeee 10%, rgba(255, 255, 255, 0) 80%), -webkit-linear-gradient(315deg, #eeeeee 100%, rgba(255, 255, 255, 0) 70%);

  background: linear-gradient(45deg, #eeeeee 0%, rgba(225, 225, 225, 225) 70%), linear-gradient(135deg, #eeeeee 10%, rgba(255, 255, 255, 0) 80%), linear-gradient(225deg, #eeeeee 10%, rgba(255, 255, 255, 0) 80%), linear-gradient(315deg, #eeeeee 100%, rgba(255, 255, 255, 0) 70%);
}
.header {

  height: 100px;
  width: 100%;
  overflow:hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.navegador {
  
  float:left;
  position: relative;

}
.margenSuperior{
  height: 10%; 
  width: 100%;
}
.rightmenu {
  position: absolute;
  width:50%;
  right: 0px;
}
.contenidoDropdown{
  position: absolute;
  top:-10px;
  width: 50%;
  right: 20px;
  text-align:left;
}
.contenido {
  position: relative;
  left:25%;
}

.h1, h1 {
    font-size: 36px;
    overflow: hidden;
    float: left;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    overflow: hidden;
    float: left;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
    overflow: hidden;
    float: left;
}

.absolute-center, .menu, .menu .btn .fa, .menu .btn.trigger .line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
#SubImagen0{
  position: absolute;
  top: 15px;
  left: 15px;
}
#SubImagen1{
  position: absolute;
  top: 15px;
  left: 15px;
}
#SubImagen2{
  position: absolute;
  top: 15px;
  left: 15px;
}
#SubImagen3{
  position: absolute;
  top: 15px;
  left: 15px;
}
#SubImagen4{
  position: absolute;
  top: 15px;
  left: 15px;
}
#SubImagen5{
  position: absolute;
  top: 15px;
  left: 15px;
}
#veces{
  float:right;
  background-color: #8ee1d2;
  padding: 0px 5px;
}

#cada{
  float:right;
  padding: 0px 5px;
}
 
#frecuencia{ 
  float:right;
  background-color: #8ee1d2;
  padding: 0px 5px;
}

#temperatura{
 position: absolute;
 top: 100px;
 left: 600px;
}

#opcioneslavado{
 position: absolute;
 top: 100px;
 left: 300px;
}

#encender{
 position: absolute;
 top: 200px;
 left: 500px;
}

#opcionessecado{
 position: absolute;
 top: 100px;
 left: 350px;
}

#pagenext{
  background-color: Transparent;
}

.pager li>a, .pager li>span {
  display: inline-block;
  padding: 15px 24px;
  background-color: Transparent;
  border: none;
  outline: none;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  border: none;
  background: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
  cursor: pointer;
}
     
button {
  overflow: visible;
  padding: 0;
  border: none;
  background: none;
}
button, input, optgroup, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  padding: 0;
  border: none;
  background: none;
}
.menu {
  width: 5em;
  height: 5em;
}
.menu .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 200, 255, 0.15);
  opacity: 0;
  z-index: -10;
  cursor: pointer;
  -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
  transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
  transition: opacity 1s, z-index 0.3s, transform 1s;
  transition: opacity 1s, z-index 0.3s, transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu .btn .fa {
  font-size: 3em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu .btn:hover .fa {
  color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu .btn.trigger:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.menu .btn.trigger:hover .line {
  background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger:hover .line:before, .menu .btn.trigger:hover .line:after {
  background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger .line {
  width: 60%;
  height: 6px;
  background: #000;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s, height 0.3s, top 0.3s;
  transition: background-color 0.3s, height 0.3s, top 0.3s;
}
.menu .btn.trigger .line:before, .menu .btn.trigger .line:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background: #000;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.menu .btn.trigger .line:before {
  top: -12px;
  -webkit-transform-origin: 15% 100%;
          transform-origin: 15% 100%;
}
.menu .btn.trigger .line:after {
  top: 12px;
  -webkit-transform-origin: 25% 30%;
          transform-origin: 25% 30%;
}
.menu .rotater {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.menu.active .btn-icon {
  opacity: 1;
  z-index: 50;
}
.menu.active .trigger .line {
  height: 0px;
  top: 45%;
}
.menu.active .trigger .line:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 110%;
}
.menu.active .trigger .line:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 110%;
}

.rotater:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu.active .rotater:nth-child(1) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(0deg);
          transform: translateY(-10em) rotate(0deg);
}

.rotater:nth-child(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.menu.active .rotater:nth-child(2) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-60deg);
          transform: translateY(-10em) rotate(-60deg);
}

.rotater:nth-child(3) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.menu.active .rotater:nth-child(3) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-120deg);
          transform: translateY(-10em) rotate(-120deg);
}

.rotater:nth-child(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu.active .rotater:nth-child(4) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-180deg);
          transform: translateY(-10em) rotate(-180deg);
}

.rotater:nth-child(5) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.menu.active .rotater:nth-child(5) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-240deg);
          transform: translateY(-10em) rotate(-240deg);
}

.rotater:nth-child(6) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.menu.active .rotater:nth-child(6) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-300deg);
          transform: translateY(-10em) rotate(-300deg);
}

.pager li>a:focus, .pager li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
.pager .previous>a, .pager .previous>span {
    float: left;
}

#MenuRopa{
.rotater:nth-child(1) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.menu.active .rotater:nth-child(1) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-60deg);
          transform: translateY(-10em) rotate(-60deg);
}

.rotater:nth-child(2) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.menu.active .rotater:nth-child(2) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-120deg);
          transform: translateY(-10em) rotate(-120deg);
}
}
